.cart-box{
    color: coral;
    font-weight: 900;
    margin-bottom:50px;
    height: 120px;
    width: 100%;
    background-color: lightgray;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}